* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

span {
    height: calc(80% / 3);
    margin: auto;
    display: inline-block;
}

.container {
    width: 1000px;
    margin: 0px auto;
    padding-top: 20px;
}

h1,
p {
    padding: 10px 0px;
    text-align: center;
}

h1 {
    color: #E42A6D;
}

.col {
    color: white;
    background-color: white;
    width: calc(100% / 3);
    float: left;
    background-color: #0F0E17; 
    margin-top: 20px;
    background-color: transparent;
}

img {
    height: 63px;
    float: left;
    margin-right: 10px;
}

.nomeCandidato {
    font-weight: bold;
    margin-top: 5px;
}

.professione,
a {
    font-size: 11px;
}

a {
    text-decoration: none;
    color: #70CBF0;
}

.colonne{
    margin-top: 20px;
}

.card{
    background-color: #0F0E17;
    height: 100%;
    width: 90%;
    margin: auto;
}