* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

span,
a {
    height: calc(100% / 3);
    display: block;
    padding-top: 5px;
}

.container {
    width: 900px;
    margin: 0px auto;
    padding-top: 20px;
}

h1,
p {
    padding: 10px 0px;
    text-align: center;
    width: 100%;
}

p {
    font-size: 16px;
}

h1 {
    color: #E42A6D;
}

.col {
    color: white;
    background-color: white;
    width: calc(100% / 3);
    float: left;
    margin-top: 0px;
    background-color: transparent;
    margin-bottom: 30px;
}

img {
    height: 100%;
    float: left;
    margin-right: 20px;
}

.nomeCandidato {
    font-size: 16px;
    font-weight: bold;

}

.professione,
a {
    font-size: 11px;
}

a {
    text-decoration: none;
    color: #70CBF0;
    padding-top: 0;
}

.colonne {
    margin-top: 20px;
}

.card {
    background-color: #0F0E17;
    height: 75px;
    width: 90%;
    margin: auto;
}